<div class="form-actions d-none d-lg-flex justify-content-end">
    <%= f.button :submit, action_label, :class => "btn btn-primary" %>
</div>

<div class="form-actions d-block d-lg-none">
    <%= f.button :submit, action_label, :class => "btn btn-primary btn-block" %>
</div>