// Define variables for your color scheme

$medigreen-lightest: #EAF6F6;
$medigreen-light: #8ac8c6;
$medigreen: #48A9A6;
$medigreen-dark: #2e6c6a;
$medigreen-darkest: #142f2e;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;