body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.offers-index-layout {
    display: flex;
    justify-content: space-between;

    .filters-bar {
        position: sticky;
        top: 74px;
        flex: 0 0 250px;
        height: calc(100vh - 74px);
        padding: 1rem;
    }
    
    .cards-container {
        flex-grow: 1;
        padding: 1rem;
        border-left: 1px solid $light-gray;
    }
    
    .map {
        position: sticky;
        top: 74px;
        flex: 0 0 30%;
        height: calc(100vh - 74px);
    }
}