html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .navbar {
        flex-shrink: 0;
    }

    .content {
        flex: 1 0 auto;
    }

    .footer {
        flex-shrink: 0;
    }
}