body {
    overflow-x: hidden;
    overflow-y: scroll;
}

main.content {
    margin-top: 62px;
}


.offers-index-layout {
    display: flex;
    align-items: stretch;
    width: 100%;
    
    .cards-container {
        flex-grow: 1;
        padding: 1rem;
        border-left: 1px solid $light-gray;
    }
    
    .map {
        position: sticky;
        top: 62px;
        flex: 0 0 40%;
        height: calc(100vh - 62px);
    }

}