// Font size

.fs80 {
    font-size: 80%;
}

.fs90 {
    font-size: 90%;
}

.fs110 {
    font-size: 110%;
}

.fs120 {
    font-size: 120%;
}

// Font weight

.fw600 {
    font-weight: 600 !important;
}

// Font color

.text-light-gray {
    color: $light-gray;
}

.text-gray {
    color: $gray;
}