<div class="container my-5">
    <h1 class="h2 mb-4">Mes annonces</h1>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Mes annonces</li>
        </ol>
    </nav>

    <% if @offers.empty? %>
        <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center my-4 p-4">
                <%= image_tag("illustrations/empty_illustration.svg", class: "empty-illustration", alt: "Illustration contenu vide") %>
            </div>
        </div>
    <% else %>
        <% @offers.each do |offer| %>
            <%= render 'account/offers/offer_card', offer: offer %>
        <% end %>
    <% end %>
</div>