.signup-left {
    padding: 0;

    .signup-form {
        padding: 2rem;
    }

}

.signup-right {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightest-medigreen;

    .signup-illustration {
        width: 100%;
    }

}