<div class="container my-5">
    <h1 class="h2">Contact</h1>
    <div class="row align-items-center mt-5">
        <div class="col-12 px-5 mt-5 text-center">
            <%= image_tag("illustrations/under_construction.svg", class: "img-fluid landing-illustration", alt: "Candidate illustration") %>
        </div>
        <div class="col-12 text-center mt-5">
            <p class="lead text-secondary">🚧 En construction 🚧</p>
        </div>
    </div>
</div>
