.offer-show {
    
    .author-info {
        .author-name {
            font-size: 1.25rem;
            font-weight: 600;
        }
        .author-description {
            color: $primary;
        }
        .author-id {
            color: $gray;
            font-size: 0.9rem;
            font-weight: 300;
        }
    }

}
