@mixin badge-alt {
    padding: 0.3rem;
    font-size: 80%;
}

.badge-primary-alt {
    @include badge-alt;
    color: $medigreen;
    background-color: $lightest-medigreen;
}

.badge-secondary-alt {
    @include badge-alt;
    color: $gray;
    background-color: $lightest-gray;
}

.badge-warning-alt {
    @include badge-alt;
    color: $yellow;
    background-color: $lightest-yellow;
}

.badge-info-alt {
    @include badge-alt;
    color: $blue;
    background-color: $lightest-blue;
}

.badge-danger-alt {
    @include badge-alt;
    color: $red;
    background-color: $lightest-red;
}

.badge-big {
    padding: 0.5rem;
    font-size: 80%;
}