.badge-primary-alt {
    color: $medigreen;
    background-color: $lightest-medigreen;
    font-size: 80%;
}

.badge-secondary-alt {
    color: $gray;
    background-color: $lightest-gray;
    font-size: 80%;
}

.badge-warning-alt {
    color: $yellow;
    background-color: $lightest-yellow;
    font-size: 80%;
}