@mixin card {
    background-color: white;
    border-radius: 4px;
    padding: 1.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.custom-card {
    @include card;
}

.price-card {

    display: flex;
    flex-direction: column;
    max-width: 480px;
    border-radius: 8px;

    .price-card-header {
        padding: 2rem;

        .price-card-price {
            font-size: 3rem;
            font-weight: 600;
        }
    }

    .price-card-body {
        flex-grow: 2;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 2rem;
        background-color: $lightest-medigreen;
        color: $dark-gray;
    }

}

// Card d'offre dans l'index des offres

.offer-card {
    @include card;
    flex-grow: 2;
    margin-bottom: 1rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-decoration: none;
    }

    .offer-card-title {
        color: $darkest-gray;
        margin-bottom: 0.15rem;
    }
    
    .offer-card-subtitle {
        color: $gray;
        font-weight: 400;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .offer-card-info {
        margin-left: -4px;
    }

}

// Card de selection du type d'offre à créer

.new-offer-link-card {
    @include card;
    color: $darkest-gray;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &-icon-wrapper {
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        margin-right: 0.9rem;

        img {
            max-width: 56px;
        }
    }
    
    p {
        color: $dark-gray;
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-decoration: none;

        h3 {
            color: $darkest-gray;
        }
    }
}

// Bouton custom offre premium/standard dans la création des offres

label.radio-btn-card {
    width: 100%;
    font-size: 1rem;
  
  .card-input-element+.card {
    // height: calc(36px + 2*1rem);
    padding: 1rem;
    color: var(--primary);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .card-input-element+.card:hover {
    cursor: pointer;
  }
  
  
  .radio-btn-card-title {
      color: $gray;
      font-size: 0.80rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    
    .radio-btn-card-price {
        font-size: 1.8rem;
    }
    
    i {
        font-size: 2rem;

        &.fa-check-circle {
            display: none;
            transition: border .5s;
        }
    }

    .card-input-element:checked+.card {
        border: 2px solid var(--primary);
        -webkit-transition: border .3s;
        -o-transition: border .3s;
        transition: border .3s;
    }
    
    .card-input-element:checked+.card i.fa-check-circle {
        display: inline-block;
    }

    .card-input-element:checked+.card i.fa-circle {
        display: none;
    }

}
